body {
    background-color: black;
    color: #CCCCCC;
}
h1 {
    color: #BBBBBB;
}

a {
    color: #FFCCCC;
    text-decoration: none !important;
}

a:hover {
    color: #FFAAAA;
}

.index_img {
    text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #333;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;

}

.table-condensed a {
    font-size: 1.5em;
    text-decoration: none;
}

.table-responsive {
    border: 0px solid transparent;
}